.producto1{
    color: rgb(255, 174, 0);
}
.producto2{
    color: rgb(1, 151, 26);
}
.producto3{
    color: rgb(255, 0, 0);
}

.azul{
    color: aqua;
}
.azul2{
    color: blue;
}
.azul3{
    color: rgb(0, 0, 92);
}
